.DS_Store
.idea
__pycache__
output
tests
*.log
*.ipynb
*.zip
*.mp4
*.avi
*.jpg
*.pt
*.pth
*.png
*.engine
*.onnx
*.partial
*.glb
*.ply

wandb
runs
data
logs
recordings
weights

# Python virtual environments
.venv/
venv/
.env/
env/
.venv_*/
venv_*/
